@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    margin: 0;
    padding: 0;
    border: 0;
}
.ayar{
    
    left: -60px;
    translate: translateY(100%);

  }
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');
@layer components{

    .navbar{
        @apply xl:flex-row xl:pl-0 pl-10 text-[14px]    items-center font-bold fixed -right-full  xl:right-0  top-0   xl:flex  gap-5 flex-col xl:gap-10  xl:relative  w-full h-full   transition-all  xl:bg-white  bg-black  text-white opacity-5 xl:opacity-100 xl:text-[#3D3C3C]
    }
    .navbar.action{
        @apply   right-0   z-10 opacity-100
    }
   
}